---
layout: default
---
<h2 class="top-title">Patrick Cozzi - Wellcome to my website</h2>
<div class="banner">
  <p style="margin-top:200px;">
    <a href="mailto:pjcozzi@siggraph.org?subject=feedback">pjcozzi@siggraph.org</a>
  </p>
  <p>
    Principal Graphics Architect <br>
    <a href="http://www.agi.com/">Analytical Graphics, Inc.</a>
  </p>
  <p>
    Lecturer <br>
    <a href="http://www.cis.upenn.edu/">
      Department of Computer and Information Science
    </a>
    <br>
    <a href="http://www.upenn.edu/">University of Pennsylvania</a>
  </p>
  <p>Short <a href="http://www.seas.upenn.edu/~pcozzi/downloads/PatrickCozziCV.pdf">CV</a> (08/2016)</p>
  <p class="links">With former students, <a href="http://www.iamnop.com/" title="">Nop Jiarathanakul</a> and <a href="http://www.yiningkarlli.com/" title="">Karl Li</a>.</p>
</div>
<div class="content" id="about">
  <div class="page-header">
    <h1>About me</h1>
  </div>
  <article class="post">
    <div class="post-content">
      <p>
        {% for d in site.data.aboutme-img %}
          <a href="{{ d.href }}">
            <img src="{{ d.src }}" alt="{{ d.alt }}" width="10%" class="borderImage">
          </a>
        {% endfor %}
      </p>
      <p>I work at the intersection of computer graphics, geospatial, and the web in software development and education.</p>
      <p>DMD and CGGT students - I am seeking students for <a href="/projects/">independent study projects in Spring 2017</a>.</p>
      <h4 id="my-contributions-to-the-field-include">My contributions to the field include</h4>
      <ul>
        <li>Starting <a href="http://cesiumjs.org/">Cesium</a>, an open-source JavaScript library for world-class 3D globes and maps</li>
        <li>Writing and editing <a href="http://www.seas.upenn.edu/~pcozzi/#books">books</a>: WebGL Insights, OpenGL Insights, and 3D Engine Design for Virtual Globes</li>
        <li>Co-creating <a href="https://github.com/KhronosGroup/glTF">glTF</a>, the runtime asset format for WebGL, OpenGL ES, and OpenGL</li>
        <li>Starting <a href="https://github.com/AnalyticalGraphicsInc/3d-tiles">3D Tiles</a> for streaming massive heterogeneous 3D geospatial datasets (in progress)</li>
        <li>Teaching <a href="http://www.seas.upenn.edu/~pcozzi/#teaching">GPU Programming and Architecture</a>, with students that received positions at NVIDIA, AMD, Qualcomm, and various game and movie studios</li>
        <li>Giving <a href="http://www.seas.upenn.edu/~pcozzi/#presentations">talks</a> at SIGGRAPH, FOSS4G, and COM.Geo, and other conferences</li>
        <li>Writing <a href="http://www.seas.upenn.edu/~pcozzi/#bookchapters">chapters</a> for the GPU Pro and Game Engine Gems series</li>
        <li>Reviewing various graphics courses, books, and publications. I’m on the editorial board for the Journal of Computer Graphics Techniques <a href="http://jcgt.org/">(JCGT)</a></li>
      </ul>
      <h4 id="my-interests-include">My interests include</h4>
      <ul>
        <li>Computer graphics - WebGL, OpenGL, virtual globes, massive models, 3D engine design, asset formats, real-time rendering, and GPU architecture</li>
        <li>Software development - framework design, unit testing, parallelism, JavaScript, Node.js, recruitment, and technical interviews</li>
        <li>Open source software - development practices, building community, culture, code sprints, hackathons, and business models</li>
        <li>Moving our field forward - teaching, giving talks, writing, editing, and mentoring</li>
      </ul>
    </div>
  </article>
</div>
<div class="content" id="books">
  <div class="page-header">
    <h1>Books</h1>
  </div>
  <h3>My editors books：</h3>
  <div class="media-list">
    {% for d in site.data.editor-books %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" alt="{{ d.alt }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              <h4 class="media-heading">{{ d.media-heading }}</h4>
              <p class="second-heading">{{ d.second-heading }}</p>
              <p class="time-content">{{ d.time-content }}</p>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <br>
  <h3>Book Chapters：</h3>
  <div class="media-list">
    {% for d in site.data.book-chapters %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" alt="{{ d.alt }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              <h4 class="media-heading">{{ d.media-heading }}</h4>
              <p class="second-heading">{{ d.second-heading }}</p>
              <p class="time-content">{{ d.time-content }}</p>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="advising">
  <div class="page-header">
    <h1>Advising</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.advising %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" alt="{{ d.alt }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              {{ d.desc }}
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="teaching">
  <div class="page-header">
    <h1>Teaching</h1>
  </div>
  <h3>Teaching Courses：</h3>
  <div class="media-list">
    {% for d in site.data.teaching-course %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm12 col-lg-3">
              <a href="{{ d.href }}" title="">
                <img src="{{ d.src }}" class="img-rounded">
              </a>
            </div>
            <div class="col-md-9 col-xs-12 col-sm12 col-lg-9">
              <div class="media-heading">
                {{ d.media-heading }}
              </div>
              <div class="second-heading">
                {{ d.second-heading }}
              </div>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <h3>Selected Talks and Short Courses：</h3>
  <div class="media-list">
    {% for d in site.data.short-courses %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              <div class="second-heading">
                {{ d.second-heading }}
              </div>
              <p class="time-content">{{ d.time-content }}</p>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="selected">
  <div class="page-header">
    <h1>Selected Publications</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.selected-publications %}
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
            <img src="{{ d.src }}" class="img-rounded">
          </div>
          <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
            <div class="second-heading">
              {{ d.second-heading }}
            </div>
            <p class="time-content">{{ d.time-content }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="page-header">
    <h1>Selected Blog Posts</h1>
  </div>
  <p>
    <a href="https://github.com/AnalyticalGraphicsInc/cesium/tree/master/Documentation/Contributors/PresentersGuide">Cesium Presenter's Guide</a> • Graphics Tech in Cesium:
    <a href="http://cesiumjs.org/2015/05/14/Graphics-Tech-in-Cesium/">Rendering a Frame</a>,
    <a href="http://cesiumjs.org/2015/05/15/Graphics-Tech-in-Cesium-Architecture/">Renderer Architecture</a>, and
    <a href="http://cesiumjs.org/2015/05/26/Graphics-Tech-in-Cesium-Stack/">The Graphics Stack</a> •
    <a href="https://github.com/pjcozzi/Articles/blob/master/CIS565/GitHubRepo/README.md">How to make an attractive GitHub repo</a> •
    <a href="https://hacks.mozilla.org/2014/01/webgl-deferred-shading/">WebGL Deferred Shading</a> •
    <a href="http://cesiumjs.org/2013/12/23/Building-A-WebGL-Santa-with-Cesium-and-glTF/">Building a WebGL Santa with Cesium and glTF</a> •
    <a href="http://www.realtimerendering.com/blog/webgl-debugging-and-profiling-tools/">WebGL Debugging and Profiling Tools</a> •
    <a href="http://cesiumjs.org/2013/10/08/GitHub-Pull-Request-Workflows/">GitHub Pull Request Workflows</a> •
    Reflections on Teaching GPU Programming and Architecture: <a href="http://blog.virtualglobebook.com/2011/05/reflections-on-teaching-gpu-programming.html">Part I</a>, <a href="http://blog.virtualglobebook.com/2012/07/reflections-on-teaching-gpu-programming.html">Part II</a>, and <a href="http://blog.virtualglobebook.com/2013/04/reflections-on-teaching-gpu-programming.html">Part III</a> •
    <a href="http://cesiumjs.org/2012/11/30/NORAD-Tracks-Santa-Tech-Preview/">NORAD Tracks Santa Tech Preview</a>
    • <a href="http://cesiumjs.org/2012/11/14/Open-Source-Development-Practices/">Open Source Development Practices</a> •
    <a href="http://blog.virtualglobebook.com/2013/04/how-developers-can-get-into-teaching.html">How developers can get into teaching</a> •
    <a href="http://blog.virtualglobebook.com/2011/06/resume-tips-for-computer-science.html">Resume Tips for Computer Science Students</a> •
    <a href="http://blogs.agi.com/insight3d/index.php/2008/08/29/rendering-text-fast/">Rendering Text Fast</a> •
    <a href="http://blogs.agi.com/insight3d/index.php/2008/03/05/picking-using-the-depth-buffer/">Picking using the Depth Buffer</a> •
    <a href="http://blogs.agi.com/insight3d/index.php/2008/02/13/deletion-in-bounding-volume-hierarchies/">Deletion in Bounding Volume Hierarchies</a>
  </p>
</div>