---
layout: default
---
<div class="banner">
  <div class="col-md-6">
    <p>
      <h1>Patrick Cozzi</h1>
    </p>
    <p>
      <a href="mailto:pjcozzi@siggraph.org">pjcozzi@siggraph.org</a>
    </p>
    <p>
      Principal Graphics Architect <br>
      <a href="http://www.agi.com/">Analytical Graphics, Inc.</a>
    </p>
    <p>
      Lecturer <br>
      <a href="http://www.cis.upenn.edu/">
        Department of Computer and Information Science
      </a>
      <br>
      <a href="http://www.upenn.edu/">University of Pennsylvania</a>
    </p>
    <p>Short <a href="downloads/PatrickCozziCV.pdf">CV</a> (01/2017)</p>
    <p><a href="http://cg.cis.upenn.edu/">Compute Graphics @ Penn</a></p>
  </div>
  <div class="col-md-6">
    <img src="../img/cozzi-small.jpg"><br />
    <p>With former students, <a href="http://www.iamnop.com/">Nop Jiarathanakul</a> and <a href="http://www.yiningkarlli.com/">Karl Li</a>.</p>
  </div>
</div>
<div class="content" id="about">
  <div class="page-header">
    <h1>About me</h1>
  </div>
  <article class="post">
    <div class="post-content">
      <p>
        {% for d in site.data.aboutme-img %}
          <a href="{{ d.href }}">
            <img src="{{ d.src }}" height="90" class="borderImage">
          </a>
        {% endfor %}
      </p>
      <p>I work at the intersection of computer graphics, geospatial, and the web in software development and education.</p>
      <p>DMD and CGGT students - I am seeking students for <a href="projects.html">independent study projects in Summer or Fall 2017</a>.</p>
      <h4 id="my-contributions-to-the-field-include">My contributions to the field include</h4>
      <ul>
        <li>Starting <a href="http://cesiumjs.org/">Cesium</a>, an open-source JavaScript library for world-class 3D globes and maps</li>
        <li>Writing and editing <a href="#books">books</a>: WebGL Insights, OpenGL Insights, and 3D Engine Design for Virtual Globes</li>
        <li>Co-creating <a href="https://github.com/KhronosGroup/glTF">glTF</a>, the runtime asset format for WebGL, OpenGL ES, and OpenGL</li>
        <li>Starting <a href="https://github.com/AnalyticalGraphicsInc/3d-tiles">3D Tiles</a> for streaming massive heterogeneous 3D geospatial datasets (in progress)</li>
        <li>Teaching <a href="#teaching">GPU Programming and Architecture</a>, with students that received positions at NVIDIA, AMD, Qualcomm, and various game and movie studios</li>
        <li>Giving <a href="#presentations">talks</a> at SIGGRAPH, FOSS4G, and COM.Geo, and other conferences</li>
        <li>Writing <a href="#bookchapters">chapters</a> for the GPU Pro and Game Engine Gems series</li>
        <li>Reviewing various graphics courses, books, and publications. I’m on the editorial board for the Journal of Computer Graphics Techniques <a href="http://jcgt.org/">(JCGT)</a></li>
      </ul>
      <h4 id="my-interests-include">My interests include</h4>
      <ul>
        <li>Computer graphics - WebGL, OpenGL, virtual globes, massive models, 3D engine design, asset formats, real-time rendering, and GPU architecture</li>
        <li>Software development - framework design, unit testing, parallelism, JavaScript, Node.js, recruitment, and technical interviews</li>
        <li>Open source software - development practices, building community, culture, code sprints, hackathons, and business models</li>
        <li>Moving our field forward - teaching, giving talks, writing, editing, and mentoring</li>
      </ul>
    </div>
  </article>
</div>
<div class="content" id="books">
  <div class="page-header">
    <h1>Books</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.editor-books %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" alt="{{ d.alt }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              <h4 class="media-heading">{{ d.media-heading }}</h4>
              <p class="second-heading">{{ d.second-heading }}</p>
              <p class="time-content">{{ d.time-content }}</p>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <br>
  <h3>Book Chapters：</h3>
  <div class="media-list">
    {% for d in site.data.book-chapters %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" alt="{{ d.alt }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              <h4 class="media-heading">{{ d.media-heading }}</h4>
              <p class="second-heading">{{ d.second-heading }}</p>
              <p class="time-content">{{ d.time-content }}</p>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="advising">
  <div class="page-header">
    <h1>Advising</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.advising %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" alt="{{ d.alt }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              {{ d.desc }}
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="teaching">
  <div class="page-header">
    <h1>Teaching</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.teaching-course %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm12 col-lg-3">
              <a href="{{ d.href }}" title="">
                <img src="{{ d.src }}" class="img-rounded">
              </a>
            </div>
            <div class="col-md-9 col-xs-12 col-sm12 col-lg-9">
              <div class="media-heading">
                {{ d.media-heading }}
              </div>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="talks">
  <div class="page-header">
    <h1>Selected Talks and Short Courses</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.short-courses %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
      {% endif %}
          <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
              <img src="{{ d.src }}" class="img-rounded">
            </div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
              <div class="second-heading">
                {{ d.second-heading }}
              </div>
              <p class="time-content">{{ d.time-content }}</p>
            </div>
          </div>
      {% if loopindex == 0 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="content" id="publications">
  <div class="page-header">
    <h1>Selected Publications</h1>
  </div>
  <div class="media-list">
    {% for d in site.data.selected-publications %}
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-xs-12 col-sm-12 col-lg-3">
            <img src="{{ d.src }}" class="img-rounded">
          </div>
          <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9">
            <div class="second-heading">
              {{ d.second-heading }}<br />
              {{ d.authors }}
            </div>
            <p class="time-content">{{ d.time-content }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="content" id="blogs">
  <div class="page-header">
    <h1>Selected Blog Posts</h1>
  </div>
  <p>
    {% for d in site.data.blogs %}
      {{ d.content }}
      {% unless forloop.last %}
        •
      {% endunless %}
    {% endfor %}
  </p>
</div>