---
layout: projects
---
<div class="content" id="projects">
  <article class="post">
    <div class="post-content">
      <div class="content" id="independent">
        <div class="page-header">
          <h2>Independent Study Projects</h2>
        </div>
        <p align="center">
          <img src="img/projects/glTF_300.png" height="76" class="borderImage">
          <img src="img/projects/webgl.png" height="76" class="borderImage">
          <img src="img/projects/khronos.png" height="76" class="borderImage">
          <img src="img/projects/Cesium.png" height="76" class="borderImage">
        </p>
        <p>DMD and CGGT students:</p>
        <p>I am seeking students interested in collaborating on independent study projects in open-source software development in Summer or Fall 2017 (I am fully committed in the spring). The goal is to create useful libraries, applications, tutorials, or teaching material to make graphics industry impact.</p>
        <p>Topics of interest are:</p>
        <ul>
          <li><a href="https://github.com/KhronosGroup/glTF">glTF</a> - the runtime asset format for WebGL. Projects may include importers and exporters for modeling tools, optimization pipelines, extensions, and reference implementations for loaders and renderers.</li>
          <li><a href="https://www.khronos.org/webgl/">WebGL</a> - JavaScript API for hardware-accelerated graphics on the web. Projects may include libraries, debugging and profiling tools, and tutorials and samples.</li>
          <li><a href="http://cesiumjs.org/">Cesium</a> - an open-source JavaScript library for 3D globes. Projects may include streaming massive 3D models, rendering algorithms and optimizations, and visualization demos.</li>
        </ul>
        <p>In addition to learning deeply about the selected topic, you will also learn software development best practices and open-source culture. Your work is likely to get significant industry attention and help with your internship or full-time job search.</p>
        <p>See below for projects from previous semesters.</p>
        <p>Please email me to learn more. I can only advise a limited number of students per semester.</p>
        <p>
        Patrick Cozzi<br />
        <a href="mailto:pjcozzi@siggraph.org">pjcozzi@siggraph.org</a>
        </p>
      </div>
      <div class="content" id="past">
        <div class="page-header">
          <h2>Past Projects</h2>
        </div>
        {% for d in site.data.projects %}
          {{ d.content }}
        {% endfor %}
      </div>
      <div class="content" id="code">
        <div class="page-header">
          <h2>Code Sprints</h2>
        </div>
        {% for d in site.data.code-sprints %}
          {{ d.content }}
        {% endfor %}
      </div>
    </div>
  </article>
</div>