<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Patrick Cozzi</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/fontawesome-webfont.svg">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="img/favicon.ico">
</head>
<body>
<div class="container">
  <div class="col-md-2 col-lg-2 side-bar">
    <div class="page-header" style="border-bottom:none;">
      <div class="social-icon">
        <a href="https://github.com/pjcozzi" title="pjcozzi">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="http://twitter.com/pjcozzi" title="pjcozzi">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="http://www.linkedin.com/in/pjcozzi" title="pjcozzi">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="side-menu" id="sidemenu">
      <ul class="side-menu-ul">
        <li>
          <a href="#about" title="about">About me</a>
        </li>
        <li>
          <a href="#books" title="books">Books</a>
        </li>
        <li>
          <a href="#advising" title="advising">Advising</a>
        </li>
        <li>
          <a href="#teaching" title="teaching">Teaching</a>
        </li>
        <li>
          <a href="#talks" title="talks">Talks</a>
        </li>
        <li>
          <a href="#publications" title="publications">Publications</a>
        </li>
        <li>
          <a href="#blogs" title="blogs">Blogs</a>
        </li>
        <li>
          <a href="projects.html" title="projects" id="projects">Student Projects</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 col-xs-12 col-sm-12 main-content">
    {{ content }}
  </div>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.visualNav.min.js"></script>
<script>
  $(function () {
    $('#sidemenu').visualNav({
        link: 'a',
        targetAttr: 'href',
        selectedAppliedTo: 'li',
        contentClass: 'content',
        contentLinks: 'visualNav',
        externalLinks: 'external',
        useHash: true,
        inViewClass: 'inView',
        selectedClass: 'selected',
        currentContent: 'current',
        bottomMargin: 100,
        fitContent: false,
        offsetTop: 45,
        scrollOnInit: false,
        animationTime: 1200,
        stopOnInteraction: true,
        easing: ['swing', 'swing']
    });
    $("#projects").click(function(event) {
      window.location = '/projects.html';
    });
  });
</script>
</body>
</html>